{% extends 'base.html' %}
{% block title %}Register{% endblock %}
{% block page_style %}
  <style>
    .asteriskField {
      color: red;
    }
  </style>
{% endblock %}

{% block page_content %}
    <div class="row">
      <div class="col-md-4 offset-md-4 text-md-center">
        <h1>register</h1>
              {% csrf_token %}
              <p>Username:<input type="text" required="required" id="uname" /></p>
              <!--Firstname: <input type="text" required="required" name="fname">-->
              <!--Lastname: <input type="text" required="required" name="lname">-->
              <p>Password:<input type="password" required="required" id="password" /></p>
              <p>
                  <video width="200" height="150"></video>
                  <canvas width="200" height="150"></canvas>
              </p>
              <p>
                  <button id="snap">截取图像</button>
                  <button id="close">关闭摄像头</button>
              </p>
              <p><input type="button" id="upload" value="Submit" /></p>
      </div>
    </div>
{% endblock %}

{% block page_script %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
  function $(elem) {
    return document.querySelector(elem);
  }

  // 获取媒体方法（旧方法）
  navigator.getMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMeddia || navigator.msGetUserMedia;

  var canvas = $('canvas'),
    context = canvas.getContext('2d'),
    video = $('video'),
    snap = $('#snap'),
    close = $('#close'),
    mediaStreamTrack;

  // 获取媒体方法（新方法）
  // 使用新方法打开摄像头
  if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
    navigator.mediaDevices.getUserMedia({
      video: true,
      audio: true
    }).then(function(stream) {
      console.log(stream);

      mediaStreamTrack = typeof stream.stop === 'function' ? stream : stream.getTracks()[1];

      video.src = (window.URL || window.webkitURL).createObjectURL(stream);
      video.play();
    }).catch(function(err) {
      console.log(err);
    })
  }
  // 使用旧方法打开摄像头
  else if (navigator.getMedia) {
    navigator.getMedia({
      video: true
    }, function(stream) {
      mediaStreamTrack = stream.getTracks()[0];

      video.src = (window.URL || window.webkitURL).createObjectURL(stream);
      video.play();
    }, function(err) {
      console.log(err);
    });
  }

  // 截取图像
  snap.addEventListener('click', function() {
    context.drawImage(video, 0, 0, 200, 150);
  }, false);

  // 关闭摄像头
  close.addEventListener('click', function() {
    mediaStreamTrack && mediaStreamTrack.stop();
  }, false);

    $("#upload").addEventListener('click', function() {
        var csrfToken = document.getElementsByName("csrfmiddlewaretoken");
        var name = document.getElementById("uname");
        var password = document.getElementById("password");

        jQuery.ajax({
            type:"POST",
            url:"/face/register/",
            //必须添加 csrf_token
            dataType:'json',
            data:{
                "id":1,
                "faceImg":canvas.toDataURL('image/png'),
                "uname": name.value,
                "password": password.value,
                'csrfmiddlewaretoken':csrfToken[0].value//csrfToken
            },
            success:function (displayList) {
                <!--// 处理认证后的数据-->
                if (displayList.canLogin === true){
                    alert("验证成功！");
                    alert(displayList.AuthName);
                    window.location.href='/accounts/profile/';
                }
                else{
                    alert("验证失败！");
                }
            },
            error:function () {
              alert("验证失败: 未检测到人脸！");
               <!--DisplayNo1.text("验证失败: 未检测到人脸").removeClass("label-success").addClass("label-danger");-->
            }
            })
  }, false);
  </script>
{% endblock %}

