{% extends 'adminlte_base.html' %}

{% block title %}{{ user.last_name }}{{ user.first_name }}个人简历{% endblock %}

{% block page_style %}
  <style>
    h1 {
      border-bottom: 4px double darkgray;
      margin-top: 20px;
    }

    h5 {
      {#margin-top: 10px;#}
      padding-top: 10px;
      border-top: 1px solid lightgray;
    }
  pre {
    border: none;
    margin-bottom: 8px;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
  }
  .col-md-1 {
    padding-right: 0;
  }
  img {
      height: 200px;
      width: 350px;
      border-radius: 10px;
  }
  </style>
{% endblock %}

{% block page_content %}
  <div class="row">
    <div class="col-md-12 text-md-center">
      <h1>个人简历</h1>
    </div>
  </div>
  {% with user.resume as resume %}
    <div class="row">
      <div class="col-md-3 text-md-left"><label>姓名：</label><label>{{ user.last_name }}{{ user.first_name }}</label>
      </div>
      <div class="col-md-3 text-md-left"><label>性别：</label><label>{{ resume.get_gender_display }}</label></div>
      <div class="col-md-3 text-md-left"><label>出生日期：</label><label>{{ resume.birth_date|date:"Y.m.d" }}|{{ resume.age }}岁</label>
      </div>
      <div class="col-md-3 text-md-left"><label>婚姻状况：</label><label>{{ resume.get_marital_status_display }}</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 text-md-left"><label>籍贯：</label><label>{{ resume.native_place }}</label></div>
      <div class="col-md-3 text-md-left"><label>民族：</label><label>{{ resume.nationality }}</label></div>
      <div class="col-md-3 text-md-left"><label>身高：</label><label>{% if not resume.height == None %}{{ resume.height }} cm{% else %}-{% endif %}</label></div>
      <div class="col-md-3 text-md-left"><label>体重：</label><label>{% if not resume.weight == None %}{{ resume.weight }} 公斤{% else %}-{% endif %}</label></div>
    </div>
    <div class="row">
      <div class="col-md-3 text-md-left"><label>联系电话：</label><label>{{ resume.telephone }}</label></div>
      <div class="col-md-3 text-md-left"><label>Email地址：</label><label><a
              href="mailto:{{ resume.email }}">{{ resume.email }}</a></label></div>
      <div class="col-md-3 text-md-left"><label>QQ号：</label><label>{{ resume.qq }}</label></div>
      <div class="col-md-3 text-md-left"><label>微信号：</label><label>{% if not resume.wechat == None %}{{ resume.wechat }}{% else %}-{% endif %}</label></div>
    </div>
    <div class="row">
      <div class="col-md-3"><label>英语：</label><label>
        {{ resume.get_english_level_display }}{% if not resume.english_score == None %}/
          {{ resume.english_score }}{% endif %}</label></div>
      {% with user.education_set.all.0 as education %}
        <div class="col-md-9">
          <label>毕业学校：</label><label>{{ education.school }}（{{ education.get_education_display }}）/{{ education.major }}</label>
        </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h5>求职意向</h5>
      </div>
      <div class="col-md-8 text-md-left"><label>{{ resume.target_position }}</label></div>
      <div class="col-md-4 text-md-right"><label>
        {{ resume.expect_salary }}{% if not resume.expect_salary_intern == None %}/{{ resume.expect_salary_inter }}
          （实习）{% endif %}</label></div>
    </div>
  {% endwith %}

  <div class="row">
    <div class="col-md-12"><h5>技能水平</h5></div>
  </div>
  <div class="row">
    <ul>
      {% for skill in user.skill_set.all %}
        <li>{{ skill.get_level_display }}{{ skill.content }}</li>
      {% endfor %}
    </ul>
  </div>

  <div class="row">
    <div class="col-md-12"><h5>工作经历</h5></div>
  </div>
  {% for work in user.workexperience_set.all %}
    <div class="row">
      <div class="col-md-7"><label class="font-weight-bold">{{ work.company_name }}</label></div>
      <div class="col-md-2"><label class="font-weight-bold">{{ work.position }}</label></div>
      <div class="col-md-3 text-md-right"><label class="font-weight-bold">{{ work.start_date|date:"Y.m" }}
        - {{ work.end_date|date:"Y.m" }}</label></div>
      <div class="col-md-1"><label class="font-italic">离职原因</label></div>
      <div class="col-md-11"><label>{{ work.resignation_reason }}</label></div>
      <div class="col-md-1"><label class="font-italic">工作内容</label> </div>
      <div class="col-md-11">
        <pre>{{ work.description }}</pre>
      </div>
    </div>
  {% endfor %}

  <div class="row">
    <div class="col-md-12"><h5>项目经历</h5></div>
  </div>
  {% for project in user.project_set.all %}
    <div class="row">
      <div class="col-md-9"><label class="font-weight-bold">{{ project.name }}</label></div>
      <div class="col-md-3 text-md-right"><label class="font-weight-bold">{{ project.start_date|date:"Y.m" }}
        - {{ project.end_date|date:"Y.m" }}</label></div>
      <div class="col-md-1"><label class="font-italic">项目描述</label></div>
      <div class="col-md-11">
        <pre>{{ project.description }}</pre>
      </div>
      <div class="col-md-1"><label class="font-italic">技术要点</label></div>
      <div class="col-md-11">
        <pre>{{ project.technology }}</pre>
      </div>
      <div class="col-md-1"><label class="font-italic">个人职责</label></div>
      <div class="col-md-11">
        <pre>{{ project.responsibility }}</pre>
      </div>
    </div>
  {% endfor %}

  <div class="row">
  <div class="col-md-12"><h5>教育经历</h5></div>
  </div>
  {% for education in user.education_set.all %}
  <div class="row">
    <div class="col-md-6"><label class="font-weight-bold">{{ education.school }}</label><label>/{{ education.get_education_type_display }}{{ education.get_education_display }}</label></div>
    <div class="col-md-3"><label>{{ education.major }}</label></div>
  <div class="col-md-3 text-md-right"><label>{{ education.start_date|date:"Y.m" }} - {{ education.end_date|date:"Y.m" }}</label></div>
  </div>
  {% endfor %}

  <div class="row">
    <div class="col-md-12"><h5>培训经历</h5></div>
  </div>
  {% for training in user.trainingexperience_set.all %}
    <div class="row">
      <div class="col-md-6"><label class="font-weight-bold">{{ training.name }}</label></div>
      <div class="col-md-3"><label>{{ training.organization_name }}</label></div>
      <div class="col-md-3 text-md-right"><label>{{ training.start_date|date:"Y.m" }} - {{ training.end_date|date:"Y.m" }}</label></div>
    <div class="col-md-12"><pre>{{ training.content }}</pre></div>
    </div>
  {% endfor %}

  <div class="row">
    <div class="col-md-12"><h5>获奖/证书</h5></div>
  </div>
  <div class="row">
    <ul>
      {% for certification in user.certification_set.all %}
        <li>{{ certification.name }}{% if not certification.remark == None %}（{{ certification.remark }}）{% endif %}</li>
      {% endfor %}
    </ul>
  </div>

  <div class="row">
    <div class="col-md-12"><h5>自我评价</h5></div>
    <div class="col-md-12"><pre>{{ resume.introduction }}</pre></div>
  </div>

  {% endwith %}

  {% if user.employee %}
    <div class="row">
      <div class="col-md-12 text-md-center">
        <h1>员工信息</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4"><label>工号：</label><label>{{ user.employee.number }}</label></div>
      <div class="col-md-4">
        <label>员工类型：</label><label>{{ user.employee.get_type_display }}（{{ user.employee.get_status_display }}）</label>
      </div>
      <div class="col-md-4"><label>入职日期：</label><label>{{ user.employee.enter_date|date:"Y-m-d" }}</label></div>
      <div class="col-md-4">
        <lable>身份证号码：</lable>
        <label>{{ user.idcard.id_card_number }}</label></div>
      <div class="col-md-4"><label>身份证地址：</label><label>{{ user.idcard.id_card_address }}</label></div>
      <div class="col-md-4"><label>居住地：</label><label>{{ user.idcard.residence_address }}</label></div>
      <div class="col-md-12" style="text-align: center"><img src="{{ user.idcard.id_card_photo.url }}"></div>
    </div>

    <div class="row">
      <div class="col-md-12"><h5>银行卡信息</h5></div>
    </div>
    {% for card in user.card_set.all %}
      <div class="row">
        <div class="col-md-3"><label>{{ card.number }}{% if card.is_default %}（默认卡）{% endif %}</label></div>
        <div class="col-md-3"><label>{{ card.bank_name }}</label></div>
        <div class="col-md-3"><label>{{ card.branch_name }}</label></div>
        <div class="col-md-3"><label>{{ card.phone }}</label></div>
      </div>
    {% endfor %}

    <div class="row">
      <div class="col-md-12"><h5>联系人信息</h5></div>
    </div>
    {% for contact in user.contactperson_set.all %}
      <div class="row">
        <div class="col-md-3"><label>{{ contact.name }}</label></div>
        <div class="col-md-3"><label>{{ contact.relationship }}</label></div>
        <div class="col-md-3"><label>{{ contact.organization }}</label></div>
        <div class="col-md-3"><label>{{ contact.telephone }}</label></div>
      </div>
    {% endfor %}
  {% endif %}

  {% if request.user.is_staff %}
    <div class="row">
      <div class="col-md-12 text-md-center">
        <h1>更多信息</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12"><h5>面试情况</h5></div>
    </div>
    {% for interview in user.interview_set.all %}
      <div class="row">
        <div class="col-md-4"><label>{{ interview.interviewer }}</label></div>
        <div class="col-md-4"><label>笔试：{{ interview.written_test_score }}/面试：{{ interview.interview_score }}</label></div>
        <div class="col-md-4 text-md-right"><label>{{ interview.time|date:"Y-m-d H:i" }}</label></div>
        <div class="col-md-1"><label class="font-italic">面试评语</label></div>
        <div class="col-md-11"><pre>{{ interview.comment }}</pre></div>
        <div class="col-md-1"><label class="font-italic">面试结果</label></div>
        <div class="col-md-11"><pre>{{ interview.result }}</pre></div>
      </div>
    {% endfor %}

    <div class="row">
      <div class="col-md-12"><h5>评价</h5></div>
    </div>
    {% for comment in user.comment_set.all %}
      <div class="row">
        <div class="col-md-6"><label>{{ comment.updater }}</label></div>
        <div class="col-md-6 text-md-right"><label>{{ comment.update_time|date:"Y-m-d H:i" }}</label></div>
        <div class="col-md-12"><pre>{{ comment.content }}</pre></div>
      </div>
    {% endfor %}

    <div class="row">
      <div class="col-md-12"><h5>动态</h5></div>
    </div>
    {% for activity in user.activity_set.all %}
      <div class="row">
        <div class="col-md-2"><label>{{ activity.activity_date|date:"Y-m-d" }}</label></div>
        <div class="col-md-10"><label>{{ activity.content }}</label></div>
      </div>
    {% endfor %}
  {% endif %}

{% endblock %}

{% block page_script %}
{% endblock %}
