{% extends 'adminlte_base.html' %}

{% block title %}TimeSheet{% endblock %}

{% block page_style %}
  <style>
  .asteriskField {
    color: red;
  }
  h3 {
    margin: 10px 0;
    padding: 10px 0;
    background-color: lightblue;
  }
  .btn-group {
    padding-top: 20px;
  }
  </style>
{% endblock %}

{% block page_content %}
  {% load crispy_forms_tags %}
  <div class="row">
    <div class="col-md-12 text-md-center">
            <!-- 工时填写超出警告！！！ -->
      {% if out_of_range %}
      <div class="box box-default">
            <div class="box-header with-border">
              <i class="fa fa-warning"></i>

              <h3 class="box-title">Alerts</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4><i class="icon fa fa-ban"></i> Alert!</h4>
                <p>工时填写超过100!</p>
                请重新填写{{ work_project }} 项目在{{ year }} 年 {{ month }} 的工时信息!!!
              </div>
            </div>
            <!-- /.box-body -->
          </div>
      {% endif %}
      {% if project_error %}
      <div class="box box-default">
            <div class="box-header with-border">
              <i class="fa fa-warning"></i>

              <h3 class="box-title">Alerts</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4><i class="icon fa fa-ban"></i> Alert!</h4>
                <p>项目名称选择错误！</p>
                请重新填写！！！
              </div>
            </div>
            <!-- /.box-body -->
          </div>
      {% endif %}
      <h1 style="text-align: center;">月份工时</h1>
      <div class="alert alert-warning text-md-left" role="alert" style="text-align: left">
        请根据自己实际情况填写！
      </div>
      <form action="{% url 'timesheet' %}" method="post" class="text-md-left">
        <h3 class="text-md-center" style="text-align: center">工时信息</h3>
        {% crispy time_sheet_forms time_sheet_form_helper%}
        <button type="button" class="btn btn-primary btn-block mt-2 btn-add">添加工时信息</button>
        <div class="btn-group d-flex" role="group" style="width: 100%">
          <input type="submit" name="submit-timesheet" class="btn btn-warning w-100" style="width: 100%" value="提交">
        </div>
      </form>

    </div>
  </div>
{% endblock %}

{% block page_script %}
  <script>
    function deleteForm(prefix, btn) {
        btn.next().find("input[type='checkbox']").prop("checked", true);
        btn.parent().hide();
    }

    $(document).on('click', '.btn-delete', function(e) {
        e.preventDefault();
        deleteForm($(this).parent().attr("class"), $(this));
        return false;
    });

    $(document).on('focus', '.dateinput', function(e){
        $(this).datepicker({format: 'yyyy-mm-dd'});
    });

    $(document).on('click', '.btn-add', function (e) {
       addForm($(this));
    });

    function addForm(btn){
        $(btn).prev().clone().insertBefore($(btn));
        $(btn).prev().show();
        $(btn).prev().find(":input[type!='button']").each(function () {
            $(this).val('');
            $(this).prop("checked", false);
        });

        var prefix = $(btn).prev().attr("class");
        var forms = $('.'.concat(prefix));
        $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);

        for (var i = 0, formCount = forms.length; i < formCount; i++) {
            updateFormElementIndex($(forms.get(i)), prefix, i);
        }
    }

    function updateFormElementIndex(el, prefix, ndx) {
        var id_regex = new RegExp('(' + prefix + '-\\d+)');
        var replacement = prefix + '-' + ndx;

        $(el).find('.form-group').each(function(){
            this.id = this.id.replace(id_regex, replacement);
        });

        $(el).find('.col-form-label').each(function(){
            $(this).attr('for', $(this).attr('for').replace(id_regex, replacement));
        });

        $(el).find(':input').each(function(){
            if (this.id) this.id = this.id.replace(id_regex, replacement);
            if (this.name) this.name = this.name.replace(id_regex, replacement);
        });
    }
  </script>
{% endblock %}