{% extends 'adminlte_base.html' %}

{% block title %}TimeSheet{% endblock %}

{% block page_style %}
  <style>
  .asteriskField {
    color: red;
  }
  h3 {
    margin: 10px 0;
    padding: 10px 0;
    background-color: lightblue;
  }
  .btn-group {
    padding-top: 20px;
  }
  </style>
{% endblock %}

{% block page_content %}
  {% load crispy_forms_tags %}
   <div class="tm-middle">
        <div class="uk-container uk-container-center">
            <div class="uk-panel uk-panel-box uk-container-center uk-width-1-3">
                <h3 class="uk-panel-title"><i class="uk-icon-user"></i>修改密码</h3>

                    <div class="uk-grid">
                    <div >
                         {% if changepwd_success %}
                            <div class="uk-alert">密码更改成功，请用新的密码登陆！</div>
                        {% endif%}
                    <form class="uk-form uk-form-horizontal uk-margin-top" action="" method="post">
                        {% csrf_token %}

                        <div class="uk-form-row">
                            <div class="uk-form-label">
                                {{ form.oldpassword.label_tag }}
                                {% for error in form.oldpassword.errors %}
                                    <span class="uk-badge uk-badge-danger">{{ error }}</span>
                                {% endfor %}
                                {% if oldpassword_is_wrong %}
                                    <span class="uk-badge uk-badge-danger">
                                        原密码不正确
                                    </span>
                                {% endif %}
                            </div>
                            <div class="uk-form-control">
                                {{ form.oldpassword }}
                            </div>
                        </div>
                        <div class="uk-form-row">
                            <div class="uk-form-label">
                                {{ form.newpassword1.label_tag }}
                                {% for error in form.newpassword1.errors %}
                                    <span class="uk-badge uk-badge-danger">{{ error }}</span>
                                {% endfor %}
                            </div>
                            <div class="uk-form-control">
                                {{ form.newpassword1 }}
                            </div>
                        </div>
                        <div class="uk-form-row">
                            <div class="uk-form-label">
                                {{ form.newpassword2.label_tag }}
                                {% for error in form.newpassword2.errors %}
                                    <span class="uk-badge uk-badge-danger">{{ error }}</span>
                                {% endfor %}
                            </div>
                            <div class="uk-form-control">
                                {{ form.newpassword2 }}
                            </div>
                        </div>
                        <div class="uk-form-row">
                            <input type="submit" value="确认修改" class="uk-button uk-button-primary">
                        </div>
                    </form>
                        <p>
                            <video width="200" height="150"></video>
                            <canvas width="200" height="150"></canvas>
                        </p>
                        <p>
                          <button id="snap">截取图像</button>
                          <button id="close">关闭摄像头</button>
                          <input type="button" id="upload" value="上传图像">
                        </p>
                    </div>
                </div>
            </div>

        </div>
   </div>
{% endblock %}

{% block page_script %}
  <script>
    function deleteForm(prefix, btn) {
        btn.next().find("input[type='checkbox']").prop("checked", true);
        btn.parent().hide();
    }

    $(document).on('click', '.btn-delete', function(e) {
        e.preventDefault();
        deleteForm($(this).parent().attr("class"), $(this));
        return false;
    });

    $(document).on('focus', '.dateinput', function(e){
        $(this).datepicker({format: 'yyyy-mm-dd'});
    });

    $(document).on('click', '.btn-add', function (e) {
       addForm($(this));
    });

    function addForm(btn){
        $(btn).prev().clone().insertBefore($(btn));
        $(btn).prev().show();
        $(btn).prev().find(":input[type!='button']").each(function () {
            $(this).val('');
            $(this).prop("checked", false);
        });

        var prefix = $(btn).prev().attr("class");
        var forms = $('.'.concat(prefix));
        $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);

        for (var i = 0, formCount = forms.length; i < formCount; i++) {
            updateFormElementIndex($(forms.get(i)), prefix, i);
        }
    }

    function updateFormElementIndex(el, prefix, ndx) {
        var id_regex = new RegExp('(' + prefix + '-\\d+)');
        var replacement = prefix + '-' + ndx;

        $(el).find('.form-group').each(function(){
            this.id = this.id.replace(id_regex, replacement);
        });

        $(el).find('.col-form-label').each(function(){
            $(this).attr('for', $(this).attr('for').replace(id_regex, replacement));
        });

        $(el).find(':input').each(function(){
            if (this.id) this.id = this.id.replace(id_regex, replacement);
            if (this.name) this.name = this.name.replace(id_regex, replacement);
        });
    }
  </script>

<!-- 以下是导入JQUERY -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<!-- 以下是使用jquery版的ajax请求 -->
    <script type="text/javascript">
  function $(elem) {
    return document.querySelector(elem);
  }

  // 获取媒体方法（旧方法）
  navigator.getMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMeddia || navigator.msGetUserMedia;

  var canvas = $('canvas'),
    context = canvas.getContext('2d'),
    video = $('video'),
    snap = $('#snap'),
    close = $('#close'),
    upload = $('#upload'),
    uploaded = $('#uploaded'),
    mediaStreamTrack;

  // 获取媒体方法（新方法）
  // 使用新方法打开摄像头
  if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
    navigator.mediaDevices.getUserMedia({
      video: true,
      audio: true
    }).then(function(stream) {
      console.log(stream);

      mediaStreamTrack = typeof stream.stop === 'function' ? stream : stream.getTracks()[1];

      video.src = (window.URL || window.webkitURL).createObjectURL(stream);
      video.play();
    }).catch(function(err) {
      console.log(err);
    })
  }
  // 使用旧方法打开摄像头
  else if (navigator.getMedia) {
    navigator.getMedia({
      video: true
    }, function(stream) {
      mediaStreamTrack = stream.getTracks()[0];

      video.src = (window.URL || window.webkitURL).createObjectURL(stream);
      video.play();
    }, function(err) {
      console.log(err);
    });
  }

  // 截取图像
  snap.addEventListener('click', function() {
    context.drawImage(video, 0, 0, 200, 150);
  }, false);

  // 关闭摄像头
  close.addEventListener('click', function() {
    mediaStreamTrack && mediaStreamTrack.stop();
  }, false);

  upload.addEventListener('click', function() {
        var csrfToken = document.getElementsByName("csrfmiddlewaretoken");

        jQuery.ajax({
            type:"POST",
            url:"/face/update/",
            //必须添加 csrf_token
            dataType:'json',
            data:{
                "id":1,
                "faceImg":canvas.toDataURL('image/png'),
                'csrfmiddlewaretoken':csrfToken[0].value//csrfToken
            },
            success:function (displayList) {
                <!--// 处理认证后的数据-->
                if (displayList.canLogin === true){
                    alert("验证成功！");
                    alert(displayList.AuthName);
                    window.location.href='/accounts/profile/';
                }
                else{
                    alert("验证失败！");
                }
            },
            error:function () {
              alert("验证失败: 未检测到人脸！");
               <!--DisplayNo1.text("验证失败: 未检测到人脸").removeClass("label-success").addClass("label-danger");-->
            }
            })
  }, false);

  </script>
{% endblock %}